<form (ngSubmit)="addItem()" class="form-container">
  <div class="form-group">
    <label>Item Name: </label>
    <input type="text" [(ngModel)]="name" name="name" required />
  </div>

  <div class="form-group">
    <label>Quantity: </label>
    <input
      type="number"
      [(ngModel)]="quantity"
      name="quantity"
      required
      min="1"
    />
  </div>

  <div class="form-group">
    <label>Expiration Date: </label>
    <input type="date" [(ngModel)]="expirationDate" name="expirationDate" />
  </div>

  <button type="submit" class="add-item-btn">➕ Add Item</button>
</form>
